.main{
    display: flex;
    height: 50%;
    align-items: center;
    background-color: antiquewhite;
}

.col1{
    flex-basis: 80%;
    margin-left: 50px;
}

.col h2{
    font-size: 2rem;
    color: blue;
}

.col p{
    font-size: 20px;
    color:black;
    font-weight: 500;
    margin-top: 20px;
}

.col .button{
    background-color: rgb(130, 2, 250);
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.col .button:hover{
    background-color: rgb(100, 2, 200);
}

.col .button:active{
    background-color: rgb(80, 2, 160);
}

.card {
    width: 1000px;
    height: 510px;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card1 {
    background-image: url('../../assets/CarPhoto.PNG');
}

.main2{
    text-align: center;
    background-color: antiquewhite;
    height: 40vh;
}

.col2{
    flex-basis: 80%;
    display: inline-block;
}

.col2 h3{
    font-size: 20px;
    font-weight: bold;
}

.row {
    box-sizing: border-box;
    display: flex;
    margin: 10px 10px;
    overflow: hidden;
    height: 265px;
}

.row::after {
    content: "";
    display: table;
    clear: both; /* Clear the float */
}

.card2,
.card3,
.card4,
.card5 {
    flex: 1; /* Use flex property to make cards grow and take up equal space */
    box-sizing: border-box;
    padding: 5px;
    margin: 5px; /* Add margin for spacing between cards */
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(rgba(0,0,0,0.7)rgba(0,0,0,0.5));
    position: relative;
    transition: opacity 0.5s ease;
    cursor: pointer;
    border-radius: 25px;
}

.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover {
    transform: scaleY(1.1);
    opacity: 0.8; /* Reduce opacity on hover */
}

.card2,
.card3,
.card4,
.card5:hover {
    opacity: 1; /* Set default opacity */
}

.card2 {
    background-image: url('../../assets/Desain-tanpa-judul-35.jpg');
}

.card3 {
    background-image: url('../../assets/WhatsApp Image 2024-03-08 at 23.27.43.jpeg');
}

.card4 {
    background-image: url('../../assets/WhatsApp Image 2024-03-08 at 23.27.39.jpeg');
}

.card5 {
    background-image: url('../../assets/60b8728731d27.jpg');
}

.card2 button,
.card3 button,
.card4 button,
.card5 button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: rgb(130, 2, 250);
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card2 button:hover,
.card3 button:hover,
.card4 button:hover,
.card5 button:hover {
    background-color: rgb(100, 2, 200); /* Change color on hover */
}

.card2 button:active,
.card3 button:active,
.card4 button:active,
.card5 button:active {
    background-color: rgb(80, 2, 160); /* Change color on active/press */
}

